@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Mulish:wght@200&family=Roboto:ital,wght@0,400;0,500;1,500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #2f3e56;
}
body {
  overflow-y: scroll;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
}
ul {
  display: flex;
  list-style: none;
  align-items: start;
  margin-left: 15px;
  gap: 10px;
  /* margin-top: 20px; */
  padding: 20px;
}

li {
  /* margin-left: 25px; */
  font-weight: 500;
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: 0.1s all ease;
}
li:hover {
  transform: scale(1.1);
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
  z-index: -1;
}
.shade2 {
  opacity: 0.5;
  z-index: -1;
}

.shade3 {
  opacity: 0.7;
  z-index: -1;
}

.shade4 {
  opacity: 0.8;
  z-index: -1;
}

.shade5 {
  opacity: 0.9;
  z-index: -1;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}
.ripple-background {
  opacity: 0.5;
  position: fixed;
  bottom: 0;
}

a {
  text-decoration: none;
  color: white;
}
#nav-logo {
  height: 50px;
  width: 50px;
  filter: invert();
}
.nav-button {
  background-color: rgba(249, 75, 75, 0.75);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition: 0.1s all ease;
  font-weight: 500;
  border: none;
}
nav {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.nav-button:hover {
  transform: scale(1.1);
}

h1 {
  font-size: 5em;
  color: white;
  text-transform: uppercase;
}

span {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  height: 100%;
  width: 100%;
}
.course-buttons {
  padding: 1rem;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  background-color: #0c134f9b;
  border: none;
  transition: 0.1s ease;
}
.course-buttons:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.action-buttons {
  display: flex;
  gap: 1rem;
}
.about-container {
  display: flex;
  /* border-radius: 5px; */
  margin-top: 1rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
h2 {
  font-size: 3em;
  color: white;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  width: fit-content;
}
p {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 500;
  margin-top: 1rem;
  line-height: 25px;
  max-width: 500px;
}

.about-info {
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  /* border: 2px solid white; */
  padding: 40px;
  margin-left: 800px;
}
#about-button {
  padding: 1rem;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  background-color: #2f3e56;
  border: none;
  margin-left: 330px;
  margin-top: 2rem;
  transition: 0.3s all ease;
}
#about-button:hover {
  background:  #184690;;
  transform: scale(1.02);
  cursor: pointer;
}
/* #about-img {
  margin-left: 400px;
  height: 400px;
  width: 400px;
  filter: invert();
} */

main {
  z-index: 10;
}
.home-image {
  position: absolute;
  right: 4px;
  height: 350px;
  bottom: 0px;
  /* left: 50%; */
}
